

body {
    height: 100vh;
    background: linear-gradient(60deg, rgba(0, 0, 255, 0.468), rgba(165, 42, 42, 0.468));
}



h1 {
    color: rgb(107, 76, 38);
    border-bottom: 1px solid rgb(107, 76, 38);
    
    
}





.container {
    width: 100%;
    height: 100vh;
    justify-items: center;
    
}
.form {
    border: 2px solid rgb(107, 76, 38);
    padding: 50px 100px;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.322), rgba(0, 0, 255, 0.326));

}
form input {
    height: 30px;
    width: 300px;
    background-color: transparent;
    border: 2px solid rgba(107, 76, 38, 0.237);
    border-radius: 5px;
    box-shadow: 5px 10px 10px 5px rgba(52, 40, 26, 0.219);
    font-size: 20px;
}
form input::placeholder {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.425);


}